.animal-app {
    text-align: center;
}

.primary-button {
    background-color: lightgreen;
    border: 1px solid green;
    border-radius: 3px;
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
}

.animal-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}